:root {
  --turquoise: #008782;
  --turquoiseHover: #007470;
  --white: #fff;
  --purple: #86419e;
  --grey: #9f9f9f;
  --greyHover: #cacaca;
  --yellow: #fcface;
  --green: #009f4d;
  --red: #be3333;
  --black: #000;
}
* {
  box-sizing: border-box;
}

/*----------------Header------------------*/

header {
  color: var(--turquoise);
  overflow: hidden;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--white);
}

#logo {
  width: 5%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#HSY {
  display: flex;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
}

#HSY h1 {
  font-size: 32px;
  font-weight: bold;
  width: 50%;
}

#secondary-nav {
  display: flex;
}
#secondary-nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--turquoise);
}

#secondary-nav a:hover {
  text-decoration: underline;
}

#main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#main-nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--turquoise);
}

#main-nav a:hover {
  text-decoration: underline;
}

#main-nav a:first-child {
  padding-left: 0;
}

.active {
  text-decoration: underline !important;
}

/*----------------MAP!------------------*/
/*---Either map or list of stops are visible, never both at the same time */
#map {
  background-color: bisque;
  height: 550px;
  margin-right: 20px;
}

#list-of-stops {
  height: 550px;
  margin-right: 20px;
}

.rest-box2 {
  margin-top: 1%;
  display: flex;
  width: 60%;
  height: 11%;
  align-items: start;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  overflow-y: hidden;
}

.list-of-stops-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

#actual-list-helsinki {
  visibility: hidden;
  margin-left: 2%;
}
#actual-list-vantaa {
  visibility: hidden;
  margin-left: 2%;
}
#actual-list-espoo {
  visibility: hidden;
  margin-left: 2%;
}
#actual-list-kirkkonummi {
  visibility: hidden;
  margin-left: 2%;
}
#helsinkiData1 {
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 20px;
}
#vantaaData1 {
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 20px;
}
#espooData1 {
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 20px;
}
#kirkkonummiData1 {
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 20px;
}

.list-of-stops-text {
  font-weight: bold;
  padding: 20px;
}

.icon-container5 {
  text-align: center;
  padding: 6px;
  background-color: var(--turquoise);
  border-radius: 50%;
  color: var(--white);
  height: 30px;
  width: 30px;
  margin-right: 2.5%;
  margin-top: 2.5%;
}
#icon-espoo-minus {
  background-color: var(--red);
}
#icon-helsinki-minus {
  background-color: var(--red);
}
#icon-vantaa-minus {
  background-color: var(--red);
}
#icon-kirkkonummi-minus {
  background-color: var(--red);
}

.good2 {
  width: 100%;
  padding: 0;
}
#map-list-title {
  font-weight: bold;
  font-size: 18px;
}

.hidden-element {
  display: none;
}

#list-view {
  display: none;
}

#searchContainer {
  width: fit-content;
  position: relative;
  top: -530px;
  left: 30px;
  z-index: 3;
  display: flex;
}

#searchBox {
  border-radius: 17px;
  height: 35px;
  width: 250px;
  padding-left: 20px;
  padding-top: 3px;
  border: none;
}
#searchButton {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  position: relative;
  padding-top: 4px;
  right: 30px;
  top: 4px;
  background-color: var(--turquoise);
  text-align: center;
  color: var(--white);
}

#searchButton:hover {
  cursor: pointer;
  background-color: var(--turquoiseHover);
}

#map-or-list-button {
  width: fit-content;
  padding: 5px;
  height: 30px;
  color: black;
  margin-left: 5%;
  position: relative;
  bottom: 10%;
  left: 40%;
  z-index: 3;
  border-radius: 15px;
  border: none;
}

#map-or-list-button:hover {
  cursor: pointer;
  background-color: var(--greyHover);
}
#map-or-list-button:active {
  transform: scale(0.98);
}

#filter-map-button-container {
  position: relative;
  width: fit-content;
  left: 15px;
  bottom: 110px;
  z-index: 3;
  border-radius: 15px;
  border: none;
}

#filter-button {
  width: 100px;
  padding: 5px;
  height: 30px;
  border-radius: 15px;
  border: none;
  display: block;
  background-color: var(--turquoise);
  color: var(--white);
}

#filter-button:hover {
  cursor: pointer;
  background-color: var(--turquoiseHover);
}

/*----------------"SORTTI-COLLECTION TRUCKS"------------------*/

#collection-truck {
  padding-left: 5%;
  height: fit-content;
  margin-top: 200px;
}
#container {
  display: flex;
  width: 100%;
}

#map-container {
  width: 60%;
}

#collection-truck h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 50px 0px 60px 0px;
}

#intro-text h2 {
  margin-bottom: 20px;
}
.minor-title {
  font-weight: bold;
  font-size: 30px;
}

#intro-text p {
  font-size: 20px;
  margin: 10px 0px;
}

#sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0.7%;
}

#sidebar h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
}

.sidebar-box {
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.icon-container-purple {
  text-align: center;
  background-color: var(--purple);
  border-radius: 50%;
  color: var(--white);
  height: 100%;
  padding: 17px;
}

.icon-container {
  text-align: center;
  background-color: var(--turquoise);
  border-radius: 50%;
  width: 50px;
  color: var(--white);
  height: 100%;
  padding: 17px;
}

.icon-container2 {
  text-align: center;
  background-color: var(--grey);
  border-radius: 50%;
  color: var(--white);
  height: 100%;
  padding: 17px;
}

.icon-container2:hover {
  background-color: var(--black);
}
.icon-container3 {
  text-align: center;
  background-color: var(--green);
  border-radius: 50%;
  color: var(--white);
  height: 100%;
  padding: 17px;
}
.icon-container4 {
  text-align: center;
  background-color: var(--red);
  border-radius: 50%;
  color: var(--white);
  height: 100%;
  padding: 17px;
}

.sidebar-text {
  width: 70%;
}

.sidebar-text p {
  font-size: 16px;
  padding: 5px 0px 0px 0;
}

.sidebar-text h3 {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-box p:first-child {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0 5px 0;
}

#restrictions {
  padding-left: 5%;
  height: fit-content;
}

.alert {
  background-color: var(--yellow);
  display: flex;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  width: 45%;
}

.alert i {
  margin: 0px 10px;
}

.black {
  fill: black;
  padding-right: 5px;
}

#restrictions-info {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.hidden {
  display: none;
}

.good {
  width: 50%;
  padding: 15px;
}

#bad {
  width: 50%;
  padding: 15px;
}

.rest-box {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.rest-click {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.rest-box:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.rest-box-bad {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 40px 20px 20px;
  flex-wrap: wrap;
}

.sidebar-text-bad {
  width: 70%;
}

.sidebar-text-bad p {
  font-size: 18px;
}

.add-info {
  padding: 40px 0;
  width: 70%;
  margin: auto;
}

.elec-alert {
  width: 70%;
  background-color: var(--yellow);
  margin: auto;
  padding: 10px;
  font-size: 15px;
  display: flex;
  margin-bottom: 40px;
}

.elec-alert i {
  margin: 0 10px;
}

#works {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 100px;
}

#work-section-header {
  padding-bottom: 30px;
}

#works-list {
  width: 50%;
}
#works-info-text {
  padding-bottom: 30px;
  font-size: 18px;
}
.works-vaaralliset {
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.works-mini-title {
  font-weight: bold;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.works-specific {
  margin-left: 25px;
  font-size: 16px;
}
.works-icon-1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--turquoise);
  text-align: center;
  padding-top: 8px;
  padding-left: 14px;
  padding-right: 20px;
  align-self: center;
  margin-left: 20px;
}

#did-you-know {
  background-color: lightcyan;
  margin-left: 5%;
  width: 50%;
}
#bottom-list-and-else {
  display: flex;
}

#did-you-know-title {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

#did-you-know-title-text {
  margin-top: 15px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}
#info-icon {
  border: black;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  padding-top: 6px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

#did-you-know-list {
  padding: 25px 75px;
  list-style-type: circle;
}

.did-you-know-list-item {
  padding-bottom: 15px;
}
